**1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**

In [ ]:
* : expression
hello : values
87.8 : values
- : expression
/ : expression
+ : expression
6 : values

**2. What is the difference between string and variable?**

A variable is a means to store value in a memory location and to manipulate it when needed. For example, 

x= 10 , x=20

Here x is a variable. Thus, in the above program , the variable x is created when you assign the value 10 to it, meaning that a memory address is allocated to store the value 10. Later, when you re-assign using x=20, the value in the corressponding memory address will be changed to 20. A variable can be of several types integer, float, string, boolean and complex based on the values youa assign it to.

A string is anything you assign to a variable using quotes(single or double). Thus, it is one of the types of a variable. For example, 

y = "Fardeen"

**3. Describe three different data types.**

1. Integer (int) : It is the most common numeric data type used to store numbers without a fractional component (-707, 0, 707).

2. Floating Point (float) : It is also a numeric data type used to store numbers that may have a fractional component like monetary values do (707.07, 0.7, 707.00).

3. Boolean (bool) : It represents the values true and false. When working with the boolean data type, it is helpful to keep in mind that sometimes a boolean value is also represented as 0 (for false) and 1 (for true).

**4. What is an expression made up of? What do all expressions do?**

An expression is a combination of operators, constants and variables. An expression may consist of one or more operands, and zero or more operators to produce a value. An expression gives us some value depending on whatever we have written.

Example:

- a+b
- 4%6
- s-1/7*f

- Constant expressions: Constant Expressions consists of only constant values. A constant value is one that doesn’t change.

Examples:
5

10 + 5 / 6.0

'x’

- Integral expressions: Integral Expressions are those which produce integer results after implementing all the automatic and explicit type conversions.

Examples:

x

x * y

x + int(5.0)

where x and y are integer variables.

- Floating expressions: Float Expressions are which produce floating point results after implementing all the automatic and explicit type conversions.

Examples:

x + y

10.75

where x and y are floating point variables.

- Relational expressions: Relational Expressions yield results of type bool which takes a value true or false. When arithmetic expressions are used on either side of a relational operator, they will be evaluated first and then the results compared. Relational expressions are also known as Boolean expressions.

Examples:

x <= y

x + y > 2

- Logical expressions: Logical Expressions combine two or more relational expressions and produces bool type results.

Examples:

x > y && x == 10

x == 10 || y == 5

**5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

Statements represent an action or command e.g print statements, assignment statements. Example,  print(2 * 2) 

Expression is a combination of variables, operations and values that yields a result value. Example, 2*2

**6. After running the following code, what does the variable bacon contain?**

bacon = 22

bacon + 1

In [1]:
bacon = 22

bacon + 1

23

bacon contains 23 which is an integer.

**7. What should the values of the following two terms be?**

'spam' +  'spamspam'

'spam' * 3

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

**8. Why is eggs a valid variable name while 100 is invalid?**

eggs is a valid variable name because it is not a reserved keyword in python and it follows all the naming convention for a variable in python. whereas, 100 starts with a numeric value and a variable should not start with a number.

**9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

The int(), float(), and str() functions will evaluate to the intege, floating point number and string versions of the value passed to them.

**10. Why does this expression cause an error? How can you fix it?**

'I have eaten' + 99 + 'burritos.'

In [4]:
'I have eaten' + str(99) + 'burritos.'

'I have eaten99burritos.'