**1. Write a Python program to convert kilometers to miles?**

In [5]:
km = float(input("Enter an input in kilometres : "))
miles= km * 0.621371 #to convert km to miles we need to multiply it with 0.621371
print(f"{km} kms is the same as {miles} miles")

Enter an input in kilometres : 55
55.0 kms is the same as 34.175405 miles

**2. Write a Python program to convert Celsius to Fahrenheit?**

In [4]:
celcius = float(input("Enter an input in celcius : "))
fahrenheit = (celcius *1.8) + 32
print(f"{celcius} degree celcius is same as {fahrenheit} degree fahrenheit ")

Enter an input in celcius : 75
75.0 degree celcius is same as 167.0 degree fahrenheit

**3. Write a Python program to display calendar?**

In [9]:
import calendar
yy = int(input("Enter the year : "))
print(" ")
print(calendar.calendar(yy))

Enter the year : 2022

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

**4. Write a Python program to solve quadratic equation?**

In [11]:
import cmath
a= int(input("Enter a number : "))
b= int(input("Enter a number : "))
c= int(input("Enter a number : "))

#calculate the discriminant
d=(b**2) - (4*a*c)

#find two solutions
sol1= (-b - cmath.sqrt(d))/(2*a)
sol2= (-b + cmath.sqrt(d))/(2*a)

print (f"The two solutions are : {sol1} and {sol2}.")

Enter a number : 3
Enter a number : -5
Enter a number : 2
The two solutions are : (0.6666666666666666+0j) and (1+0j).

**5. Write a Python program to swap two variables without temp variable?**

In [16]:
a= 28
b= 18
print(f"Value of a before swapping : {a}")
print(f"Value of b before swapping : {b}")

a,b=b,a

print(f"Value of a after swapping : {a}")
print(f"Value of b after swapping : {b}")

Value of a before swapping : 28
Value of b before swapping : 18
Value of a after swapping : 18
Value of b after swapping : 28